//variables
$light-gray : #dddddd;


//Block
.row{
    max-width : 77rem;
    margin : auto;
}

.column{
    padding : 15px 0;
}

//Global
body{
    background : #f06957;
}

.no-margin{
    margin : 0;
}